<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品列表</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <!--顶部条和介绍巨幕-->
    <div class="row clearfix">
        <div class="col-md-13 column">
            <!--顶部条-->
            <div th:insert="navigation :: nav"></div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-13 column">
            <div hidden id="contact" class="alert alert-info" role="alert"
                 th:text="'联系方式为:'+${user.getContact()}">..
            </div>
            <div class="row">
                <!-- 商品为空-->
                <div th:if="${commodies.isEmpty()}" class="col-xs-12">
                    <div class="jumbotron" >
                        <h2 style="text-align: center">这里没有商品</h2>
                        <p th:if="${session.user==null}" style="text-align: center">请联系商家添加商品</p>

                        <p th:if="${session.user!=null&&session.user.getId()!=user.getId()}" style="text-align: center">请联系商家添加商品</p>
                        <div style="text-align: center">
                            <a href="#" th:if="${session.user!=null&&session.user.getId()==user.getId()}" class="btn btn-default" role="button"
                                    onclick="addCommody()">添加商品
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 有商品-->
                <div th:if="${!commodies.isEmpty()}" class="col-sm-6 col-md-4" th:each="commody:${commodies}">
                    <div class="thumbnail">
                        <img th:src="${commody.image}" alt="..." src="/image/picture/potato.png"/>
                        <div class="caption">
                            <h3 th:text="${commody.name}">名称</h3>
                            <p th:text="${commody.description}">简介</p>
                            <p>
                            <div id="merchantsContact" onclick="showContact()" class="btn btn-default" role="button">
                                联系商家
                            </div>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var count = 2;

    function showContact() {
        if (count == 1) {
            document.getElementById("contact").setAttribute("hidden", true);
            count++;
        } else if (count == 2) {
            document.getElementById("contact").removeAttribute("hidden");
            count--;
        } else {
            count = 1;
        }
    }
</script>
</body>
</html>