<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品列表</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!--顶部条和介绍巨幕-->
    <div class="row clearfix">
        <div class="col-md-13 column">
            <!--顶部条-->
            <div th:insert="navigation :: nav"></div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-13 column">
            <div hidden id="contact" class="alert alert-info" role="alert"
                 th:text="'联系方式为:'+${user.getContact()}">..
            </div>
            <div class="alert alert-danger" th:if="${session.user==null}">用户未登录,请在登陆之后联系商家</div>

            <div class="row">
                <!-- 商品为空-->
                <div th:if="${commodies.isEmpty()}" class="col-xs-12">
                    <div class="jumbotron">
                        <h2 style="text-align: center">这里没有商品</h2>
                        <p th:if="${session.user==null}" style="text-align: center">请联系商家添加商品</p>

                        <p th:if="${session.user!=null&&session.user.getId()!=user.getId()}" style="text-align: center">
                            请联系商家添加商品</p>
                        <span class="alert alert-danger" style="float: left" th:if="${session.user==null}">用户未登录,请在登陆之后联系商家</span>
                        <div th:if="${session.user==null}" style="text-align: center">
                            <div onclick="showContact()" class="btn btn-default" role="button">
                                联系商家
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 有商品-->
                <div th:if="${!commodies.isEmpty()}" class="col-sm-6 col-md-4" th:each="commody:${commodies}">
                    <div class="thumbnail">
                        <div th:if="${session.user!=null && session.user.getId()==user.getId()}">
                            <a style="float: right;font-size: 25px"
                               th:href="'/commodity/deleteCommodity/'+${commody.getId()}+'/'+${user.getId()}"
                               class="btn">×</a>
                        </div>
                        <img style="width: 340px;height: 200px" th:src="${commody.image}" alt="..." src="/image/picture/potato.png"/>
                        <div class="caption">
                            <h3 th:text="${#strings.abbreviate(commody.name,15)}">名称</h3>
                            <p style="height: 70px" th:text="${#strings.abbreviate(commody.description,70)}">简介</p>
                            <p>
                            <a th:href="'/talk/page?userId='+${user.getId()}" style="display: block;color: #6788ad" th:if="${session.user!=null}" id="merchantsContact" class="btn btn-default" role="button">
                               联系商家
                            </a>
                            <a  th:href="'/commodity/updateCommody/'+${commody.getId()}">
                                <div th:if="${session.user!=null && session.user.getId()==user.getId()}"
                                     id="updateContact"
                                     class="btn btn-default" role="button">
                                    修改商品
                                </div>
                            </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a th:href="'/commodity/addCommody/'+${user.getId()}" th:if="${session.user!=null && session.user.getId()==user.getId()}">
                <div class="alert alert-info btn" role="alert">添加商品
                </div>
            </a>

        </div>
    </div>
</div>
<script>
    var count = 2;

    function showContact() {
        if (count == 1) {
            document.getElementById("contact").setAttribute("hidden", true);
            count++;
        } else if (count == 2) {
            document.getElementById("contact").removeAttribute("hidden");
            count--;
        } else {
            count = 1;
        }
    }


</script>
</body>
</html>