<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"><span
                    class="sr-only">opzpy123</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">opzpy123</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">主页</a>
                </li>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li  th:if="${session.user!=null}">
                    <a href="/publish" class=" glyphicon glyphicon-edit">写博客</a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<strong
                            class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <!--                            <li><a href="#">消息中心</a></li>-->
                        <li><a href="/profile/questions">我的博客</a></li>
                        <li><a href="/user/outLogging">退出登录</a></li>
                        <li class="divider"></li>
                        <li><a th:text="'欢迎回来：'+${session.user.username}">欢迎回来:</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}" class="active">
                    <a id="modal-933992" href="#modal-container-933992" role="button" class="btn"
                       data-toggle="modal">登录</a>
                </li>

            </ul>
        </div>
    </nav>

    <!--遮罩窗体-->
    <div class="modal fade" id="modal-container-933992" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <span style="font-size: 20px">用户登录</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body well">
                    <form action="/user/login" method="post" class="form-horizontal" name="loginForm" role="form">
                        <div class="form-group">
                            <label for="username" class="col-sm-offset-2 col-sm-2 control-label"><h4>账号:</h4></label>
                            <div class="col-sm-5">
                                <input type="text" name="username" class="form-control input-lg" id="username"
                                       placeholder="请输您的入账号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-offset-2 col-sm-2 control-label"><h4>密码:</h4></label>
                            <div class="col-sm-5">
                                <input type="password" name="password" class="form-control input-lg" id="password"
                                       placeholder="请输入您的密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-5">
                                <button id="submitBtn" type="submit"
                                        class="btn btn-default btn-block btn-primary input-lg"><h4>登录</h4>
                                </button>
                                <h5>
                                    没有账号？<a href="/userRegist">注册</a>
                                    <a href="https://github.com/login/oauth/authorize?client_id=740a311703dbdcbfeddd&redirect_uri=http://localhost:8080/callback?scope=user&state=1"
                                       style="display: block ; text-align: right">github游客登录</a></h5>
                            </div>
                        </div>
                    </form>
                </div>
<!--                <div class="modal-footer well">-->
                </div>
            </div>
        </div>

    </div>
</div>


</body>

</html>