<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tag">
    <h4>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="助力">助力</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="三农">三农</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="农作物">农作物</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="小贴士">小贴士</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="问题">问题</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="稻谷">稻谷</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="蔬菜">蔬菜</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="菌类">菌类</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="养殖技术">养殖技术</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="销量">销量</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="产品提升">产品提升</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="提出意见">提出意见</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="个人灌水">个人灌水</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="本地商户">本地商户</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="销售报表">销售报表</div>
    </h4>
</div>
</body>

</html>