<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tag">
    <h4>

    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="可爱">可爱</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="开车">开车</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="灌水">灌水</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="锻炼身体">锻炼身体</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="福利">福利</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="pronhub">pronhub</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="黄焖鸡真好吃">黄焖鸡真好吃</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="zpy牛逼">zpy牛逼</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="廖">廖</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="mybatis">mybatis</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="服务器">服务器</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="mysql">mysql</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="ajax">ajax</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="源码">源码</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="java">java</div>
    <div onclick="selectTag(this)" style="display: inline-block;margin-bottom: 5px"  class="btn glyphicon glyphicon-tag label label-info" th:value="spring">spring</div>
    </h4>
</div>
</body>

</html>