<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opzpy123.mypeojectdemo.mapper.CommentMapper">

    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id：设置ResultMap的id -->
    <resultMap type="comment" id="commentResultMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id" />

        <!-- 定义普通属性 -->
        <result property="parentId" column="parent_id" />
        <result property="type" column="type" />
        <result property="commentator" column="commentator" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="likeCount" column="like_count" />
        <result property="content" column="content" />
        <result property="commentCount" column="comment_count" />
    </resultMap>

    <insert id="insert">
        insert into comment values (#{id},#{parentId},#{type},#{commentator},#{gmtCreate},#{gmtModified},#{likeCount},#{content},#{commentCount});
    </insert>

    <select id="selectById" resultMap="commentResultMap">
        select * from comment where id = #{id};
    </select>

    <select id="selectByParentId" resultMap="commentResultMap">
        select * from comment where parent_id = #{id} and type=#{type};
    </select>

    <update id="incCommentCount">
        update comment set comment_count=comment_count+ #{commentCount} where id=#{commentId};
    </update>

    <update id="incLikeCount">
        update comment set like_count=like_count+ #{likeCount} where id=#{commentId};
    </update>





</mapper>