<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opzpy123.mypeojectdemo.mapper.QuestionMapper">

    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id：设置ResultMap的id -->
    <resultMap type="Question" id="questionResultMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id" />

        <!-- 定义普通属性 -->
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="creator" column="creator" />
        <result property="commentCount" column="comment_count" />
        <result property="viewCount" column="view_count" />
        <result property="likeCount" column="like_count" />
        <result property="tag" column="tag" />
    </resultMap>

    <insert id="create" keyProperty="id">
        insert into question (title,description,gmt_create,gmt_modified,creator,tag) values (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <select id="selectAllQuestion" resultMap="questionResultMap">
        select id,title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count ,tag from question order by id desc limit #{offset},#{size} ;
    </select>

    <select id="count" resultType="Integer">
        select count(1) from question;
    </select>

    <select id="selectUserQuestion" resultMap="questionResultMap">
        select id,title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count ,tag from question where creator=#{userId} order by id desc ;
    </select>
<!-- 分页    select id,title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count ,tag from question where creator=#{userId} order by id desc limit #{offset},#{size} ;-->

    <select id="selectById"  resultMap="questionResultMap">
        select id,title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count ,tag from question where id=#{id};
    </select>
    
    <update id="update">
        update  question set title = #{title},description=#{description},gmt_modified=#{gmtModified},tag=#{tag} where id = #{id};
    </update>

    <delete id="delete">
        delete  from  question where id=#{id};
    </delete>

    <update id="incView">
        update question set view_count=#{viewCount}+1 where id=#{id};
    </update>


    <update id="incCommentCount">
        update question set comment_count=#{commentCount}+1 where id=#{id};
    </update>

    <select id="selectRelated" resultMap="questionResultMap">
        select  * from question where id!=#{id} and tag regexp #{tag} LIMIT 5;
    </select>




</mapper>