<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opzpy123.mypeojectdemo.mapper.QuestionMapper">
    <insert id="create" keyProperty="id">
        INSERT INTO question (title,description,gmt_create,gmt_modified,creator,tag) VALUES (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <select id="selectAllQuestion" resultType="Question">
        SELECT id,title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count ,tag FROM question
    </select>



</mapper>