<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opzpy123.mypeojectdemo.mapper.UserMapper">

    <!--查询多条数据-->
    <!--resultType是数据返回放到哪个类型中-->
    <select id="selectAllUser" resultType="com.opzpy123.mypeojectdemo.bean.User">
        SELECT id,name,password FROM t_user
    </select>


</mapper>