<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opzpy123.mypeojectdemo.mapper.UserMapper">

    <!--字段与bean类字段一致，所以不需自定义resultMap-->

    <select id="findUserByName" resultType="User">
        select u.username,u.password from user u where u.username=#{username}
    </select>

    <insert id="regist">
        insert into user values(#{id},#{username},#{password})
    </insert>

    <select id="login" resultType="Long">
        select u.id from user u where u.username = #{username} and password = #{password}
    </select>



</mapper>