<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opzpy123.mypeojectdemo.mapper.UserMapper">

    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id：设置ResultMap的id -->
    <resultMap type="user" id="userResultMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id" />

        <!-- 定义普通属性 -->
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="avatarUrl" column="avatar_url" />
    </resultMap>



    <select id="findUserByName" resultMap="userResultMap">
        select * from user  where username=#{username};
    </select>

    <insert id="regist">
        insert into user values(#{id},#{username},#{password},#{avatarUrl})
    </insert>

    <select id="login" resultType="Long">
        select u.id from user u where u.username = #{username} and password = #{password}
    </select>

    <select id="findUserById" resultMap="userResultMap">
        select id,username,password,avatar_url from user u where u.id=#{id}
    </select>



</mapper>